body{
    /*background-color : #ededed ;*/
    background: url("../img/bg.jpg") repeat 0 0;
    background-size: cover;
}
.nv1{
/*     background-color: rgb(143,143,252);
    background: linear-gradient(90deg, rgba(143,143,252,1) 0%, rgba(252,4,255,1) 100%, rgba(117,20,99,1) 100%); 
    height: 100px;*/
    background: linear-gradient(270deg, #e601e3, #029bcd, #e601e3);
    background-size: 600% 600%;
}
.nlink{
    color: white;
}
.nlink:link{
    text-decoration: none;
    color: white;
}
.nlink:hover{
    color: white;
}
.navbtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    border-bottom: 2px solid transparent;
}
.navbtn:hover{
    border-bottom: 2px solid currentColor;
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.inpage, .inpage:hover{
    border-bottom: 2px solid currentColor;
    transform: scale(1.2);
    cursor: default;
}
.main{
    /*box-shadow: 0 0px 50px grey;*/
    background-color:#ededed;
    margin-top: 20px;
    border-radius: 5px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
}
.bg-coffee{
    background: url("../img/coffee.jpg") repeat 0 0;
    background-size: cover;
    color: white;
}
.menutxt{
    text-decoration: none;
    color: black;
}
.menutxt:hover{
    text-decoration: none;
    color: black;
}
.menuitem:hover{
    background-color: #d4d4d4;
    transform: scale(1.1);
    transition-duration: 0.20s;
}
.no-padding{
        padding: 0 !important;
}
.smallbox{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 250px;
    background-color: #dbdbdb;
}
.bigbox{
    /*background-color: #474957;*/
    background: rgb(252,4,255);
    background: linear-gradient(225deg, rgba(252,4,255,1) 0%, rgba(71,73,87,1) 100%);
    border-radius: 10px 0 0 10px;
}
.bigbox-inv{
    /*background-color: #474957;*/
    background: rgb(252,4,255);
    background: linear-gradient(135deg, rgba(252,4,255,1) 0%, rgba(71,73,87,1) 100%);
    border-radius: 0 10px 10px 0;
}
.timeline{
    height: 300px;
    /*margin-left: 20px;*/
}
.timeline-title{
    color: white;
    height: 20%;
    background: rgb(252,4,255);
    background: linear-gradient(225deg, rgba(252,4,255,1) 0%, rgba(71,73,87,1) 100%);
    display: flex;
    border-radius: 10px 10px 0 0;
    border: black solid 3px;
}
.timeline-time{
    color: white;
    height: 20%;
    background: rgb(252,4,255);
    background: linear-gradient(90deg, rgba(252,4,255,1) 0%, rgba(71,73,87,1) 100%);
    display: flex;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
}
.timeline-content{
    padding: 15px;
    height: 60%;
    background-color: #dbdbdb;
    border-radius: 0 0 10px 10px;
    border-left: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
}
